{% include 'recipes/partials/head.html' %}

<body>
    <header class="main-header-container">
        <div class="main-header container">
            <h1>
                <a href="/">
                    <i class="fa-sharp fa-solid fa-utensils"></i>
                    <span>Recipes {{ name }}</span>
                </a>
            </h1>
            <a target="_blank" href="https://youtu.be/dQw4w9WgXcQ">
                <img class="erick-jacquin"
                    src="https://www.mm7palestras.com.br/images/palestrantes/ERICK-JACQUIN.jpg" />
            </a>
        </div>
</body>

</html>